.contact-container {
    width          : 100%;
    height         : 100%;
    background     : #f5f5d5;
    display        : flex;
    /* align-items : center; */
    justify-content: center;
}

.content-wrapper {
    width         : 960px;
    display       : flex;
    flex-direction: column;
}



.title {
    color        : orange;
    border-bottom: 1px solid #d3d3d3;
    padding      : 50px 0 20px 0;
}


.btn-add {

    margin-top      : 20px;
    width           : 100px;
    height          : 30px;
    background-color: #3083FF;
    border-radius   : 5px;
    color           : #fff;
    /* border       :  none; */
}

.input-focus {
    border: 1px solid #3083FF;
}


.modal-add{
    
}