.contact-container {
    width          : 100%;
    height         : 100%;
    background     : #f5f5d5;
    display        : flex;
    /* align-items : center; */
    justify-content: center;
}

.content-wrapper {
    width         : 960px;
    display       : flex;
    flex-direction: column;
}

.title {
    color        : orange;
    border-bottom: 1px solid #d3d3d3;
    padding      : 50px 0 20px 0;
}


.title-main {
    color        : #000000;
    font-weight  : 500;
    border-bottom: 1px solid #d3d3d3;
    font-size    : 28px;
    padding      : 50px 0 20px 0;
    margin-bottom: 20px;
}


.detail-main {
    margin-top      : 20px;
    margin-bottom   : 20px;
    padding         : 20px;
    background-color: #f5f2f0;
    font-family     : Consolas, Monaco, 'Andale Mono', monospace;
    border-width    : 1px;
    border-color    : #e0dfcc;
    border-style    : solid;
    text-shadow     : 0 1px white;
    border-radius   : 5px;
}

.datail-over {
    color      : #111111;
    font-family: Georgia, serif;
}

.detail-date {
    margin-top   : 20px;
    margin-bottom: 10px;
    padding      : 15px;
    border-radius: 5px;

    border          : 1px solid #d3d3d3;
    background-color: #DEEBF7;
}

.bottom {
    border-top : 1px solid #e0dfcc;
    padding-top: 15px;
    text-align : right;
    color      : gray;
}